/* shared-styles.css */

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.login-container {
  width: 45%;
  margin: 10% auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.transaction-container {
  margin: 20px;
}

.balance-container {
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: #d77d38;
  padding: 10px;
  border: 1px solid #d6d8db; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.deposit {
  color: green;
}

.withdrawal {
  color: red;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.submit-btn {
  margin: 0px;
}

button:hover,
.submit-btn:hover {
  background-color: #45a049;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:hover {
  background-color: #f5f5f5;
}

.deposit-withdrawal-container,
.accounts-container {
  margin: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.message-box {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid;
  border-radius: 5px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

li:hover {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.link-button {
  background: #af4c4c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.link-button:hover {
  background: #571c1c;
}